* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tela{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

img {
    width: 400px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 700px;
    background-color: #002E67;
    border-radius: 50%;
    gap: 50px;
}

p {
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

button {
    width: 150px;
    height: 35px;
    background-color: #73C04A;
    border: none;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: #508533;
}

a {
    text-decoration: none;
    color: white;
}